@import "~bootstrap/dist/css/bootstrap.css";
@import "./modules/typography";
@import "./modules/spinner";
@import "./modules/layout";


.btn.last-payload-button {
	border-radius: 3px;
}

.dropdown-menu {
	max-height: 70vh;
	overflow-y: auto;
	width: 100%;
	text-align: center;
}


#preview-tabs {
	width: 100%;
}

.refresh-button {
	padding: 0;
	background-color: #FFF;
	margin: 0px 20px;
	height: 30px;
}

.input-monospace {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

.content-tag {
	background: #151617;
	padding: 5px 10px;
	color: #676f7d;
	margin: 0;
	font-size: 12px;
}

.content-tag--error {
	color: #fff;
	background: #de7878;
}

.modal-wide {
	width: 800px;
	max-width: none;
}
