@import "../../../assets/style/index.scss";

// @import "~bootstrap/dist/css/bootstrap.css";
@import "./modules/typography";
@import "./modules/spinner";
@import "./modules/layout";


.btn.last-payload-button {
	border-radius: 3px;
}

.dropdown-menu {
	max-height: 70vh;
	overflow-y: auto;
	width: 100%;
	text-align: center;
}


#preview-tabs {
	width: 100%;
}

.refresh-button {
	padding: 0;
	background-color: transparent;
	margin: 0px 20px;
	height: 30px;
}

.input-monospace {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

.modal-wide {
	width: 800px;
	max-width: none;
}
