/dist
/node_modules
/scripts

*/node_modules
**/node_modules
*/test
**/test

packages/hull-client/*
!packages/hull-client/src

packages/hull/*
!packages/hull/src

packages/connectors/hull-sql
packages/connectors/hull-snowflake-importer
packages/connectors/hull-outreach
packages/connectors/hull-warehouse
packages/connectors/hull-marketo
packages/connectors/hull-zapier
packages/connectors/hull-hubspot-deals
packages/connectors/hull-hubspot-events
packages/connectors/hull-pipedrive
packages/connectors/hull-coppercrm
packages/connectors/hull-slack
packages/connectors/hull-intercom
packages/connectors/hull-intercom-legacy
packages/connectors/hull-bigquery
packages/connectors/hull-canary
packages/connectors/hull-hubspot/server/purplefusion
packages/connectors/hull-salesforce/server/purplefusion
packages/hull-connector-framework
