.css-b8ldur-Input {
  padding-top: 0;
  padding-bottom: 0;
}
.css-yk16xz-control {
  min-height: 0;
}

.css-g1d714-ValueContainer{
  padding-top: 0;
  padding-bottom: 0;
}

.css-tlfecz-indicatorContainer {
  padding-top: 0;
  padding-bottom: 0;
}

.css-g1d714-ValueContainer {
  height: 30px;
}
