@import "../../../assets/style/index.scss";
@import "codemirror/theme/material-ocean";
@import "bootstrap-table/dist/bootstrap-table";
@import "sweetalert2/src/sweetalert2.scss";

.page-container{
  margin-top: 13px;
}

.header-row{
  margin-right: 100px;
}
body{
  background: white;
}
#button_import{
  margin-left: 1rem;
}
body.dark .btn {
  border-radius: 4px;
  border: 0;
  padding: 4px 1rem;
}
body.dark .btn-success {
  background-color: #48b648;
}
#preview-error, #preview-loading, #changed-indicator, #preview-results {
  display: none;
}
#result {
  font-family: monospace;
  white-space: nowrap;
}

.query-alert {
  margin-top: .5rem;
  margin-bottom: 0;
}
.status-line{
  flex-direction: row;
  display: flex;
  align-items: center;
  .check {
    &.valid {
      border-color: rgba(75, 222, 122, 0.52);
      background: rgba(75, 222, 122, 0.52);
    }
    border-radius: 100px;
    border: 2px solid transparent;
    padding: 0 5px;
    margin-right: 1rem;
    height: 14px;
    width: 14px;
    position: relative;
  }
}
.query-header{
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  h5{
    margin: 0;
  }
  #actions{
    position: absolute;
    right: 0
  }
}
code{
  color: #95b5e0;
  margin: 0 0.2rem;
  font-size: 14px;
}
pre{
  margin-bottom: 0;
  code{
    font-size: 14px;
    color: #999;
    .v{
      color: #0F6;
    }
    .kw{
      color: #F60;
    }
  }
}
hr{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
th em {
  color: #8091AD;
  font-size: .8em;
}
#querying {
  font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
}
.CodeMirror {
  border: 1px solid #e6e6e6;
}
th em {
  display: block;
}
td pre {
  margin: 0;
}
hr {
  margin: 1rem 0;
}
h6 {
  margin-top: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card{
  background-color: #ffffff12;
  border: 0;
}

.cm-s-material-ocean.CodeMirror{
  background-color: #242a33;
  border-radius: 6px;
  border-color: #ffffff24;
}
.cm-s-material-ocean .CodeMirror-gutters{
  background: #0f111a33;
}
body.dark .btn-preview {
    margin-left: 10px;
    border-radius: 6px;
    padding: 3px 1rem 4px 1rem;
}

.code-area{
  position: relative;
  .btn.btn-maximize{
    &:focus{
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
    }
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 10;
    padding-left: .5rem;
    padding-right: .5rem;
    outline: none;
  }
}
body.maximized{
  overflow: hidden;
  .code-area{
    background-color: #242a33e0;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    .code-content{
      position: absolute;
      left: 30px;;
      right: 30px;;
      top: 66px;;
      bottom: 20px;
      height: calc(100% - 80px);
      box-shadow: 0 0 20px 8px #0000004f;
    }
    .CodeMirror{
      height: 100%;
    }
  }
}

.table thead th,
.table-bordered th,
.table-bordered td{
  border-color: #363f4a;
}
.table-bordered {
  border: 0;
}

.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer),
.bootstrap-table .fixed-table-container.fixed-height .table thead th{
  border-bottom-color: #333941;
}
.bootstrap-table.bootstrap4{
  border: 1px solid #ffffff24;
  border-radius: 6px;
  overflow: hidden;
}