@import "../../../assets/style/index.scss";
@import "../../../assets/style/vm/index.scss";

body.dark .modal-content {
  background: #2f3640;
  box-shadow: 0 0 50px 17px #00000045;
}

body.dark .form-control {
  font-size: 1rem;
}
// Styling the Array Sorting Buttons
i.glyphicon {
  display: none;
}
.btn-add::after {
  content: "✚ Add Computed Attribute";
}
.array-item-move-up::after {
  content: "⬆";
}
.array-item-move-down::after {
  content: "⬇";
}
.array-item-remove::after {
  content: "✖";
}
.btn-danger.array-item-remove {
  width: 32px;
  padding: 3px;
}

%panel_body {
  padding: 1rem;
  border-radius: 8px;
  background: #ffffff14;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 12px, #ffffff08 0px 0px 0px 1px inset;
}

.panel-body {
  @extend %panel_body;
}

%array_buttons_styling {
  .btn.array-item-move-up,
  .btn.array-item-move-down,
  .btn.array-item-remove {
    flex: 1;
    border-radius: 100px;
    padding: 0;
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
  .btn.array-item-move-up + .btn.array-item-move-down,
  .btn.array-item-move-down + .btn.array-item-remove {
    margin-left: 2px;
  }
}

%vertical_form_group {
  .form-group {
    margin: 0 0 0.5rem 0;
  }
  .row {
    &.array-item-list {
      .array-item-list {
        border: 0;
        padding: 0;
        margin: 0;
      }
    }
  }
  .array-item {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    > .col-xs-9 {
      flex-grow: 1;
    }
    > .array-item-toolbox {
      padding-left: 1rem;
    }
  }
}

%form_typography {
  legend {
    height: auto;
    display: block;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.3;
  }
}

%field_grow {
  flex-grow: 1;
}

.computed_attributes_modal {
  @extend %vertical_form_group;
  @extend %array_buttons_styling;
  @extend %form_typography;

  .field_attribute {
    flex-direction: column;
  }

  .modal-body {
    height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  .modal-header {
    flex-direction: row;
    border-bottom: 1px solid #454c55;
    .row {
      flex-grow: 1;
    }
  }
}

.field_operation, .field_type, .field_strategy {
  display: flex;
  flex-direction: row;
}

.computed_attributes_form,
.locals_form {
  @extend %vertical_form_group;
  @extend %array_buttons_styling;
  @extend %form_typography;
  padding: 1rem;
  .row {
    margin: 0;
  }
}

.locals_form {
  height: 25%;
  .btn-add::after {
    content: "✚ Add Local Variable";
  }
  .container-fluid {
    padding: 0;
  }
}

.field_computed_attribute {
  flex-direction: column;
  margin: 0;
  > .field_object_row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
}

.field_mappings {
  // Design for a Mapping Block
  > .field-array {
    @extend %panel_body;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    margin-top: 0.5rem;
    .btn-add::after {
      content: "✚ Add Mapping";
    }
  }

  > .field-array-of-object {
    display: flex;
    flex-direction: column;
    > legend {
      display: block;
    }
  }

  > div {
    > .array-item-list {
      > .array-item {
        > div {
          .field-object {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}

// Display fields and labels horizontally
.field-string {
  align-items: baseline;
  label {
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-right: 1rem;
  }
}

.field_mapping_source {
  padding-right: 5px;
}

.field_mapping_source,
.field_mapping_destination {
  margin: 0;
  flex-grow: 1;
}

// Display horizontal fields in the Mapping section
.field_mapping .field_object_row,
.field_locals .field_object_row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.field_attribute {
  margin-bottom: 0;
}

.attribute_type {
  opacity: 0.5;
}

.input-group-text {
  border: 0;
  background: #ffffff0a;
  color: #aaa;
}

.row.computed_attribute_row {
  flex-direction: row;
  margin: 0 -15px 1rem -15px;
  .field_computed_attribute {
    width: 100%;
    flex-direction: column;
  }
  .computed_attribute_value.col {
    padding-left: 1rem;
  }
}

input.form-control[disabled] {
  background: #ffffff0a;
  color: #999;
}

.react-select {
  min-width: 300px;
}
