.btn:focus,
.nav-rounded > li > a:focus,
.btn.focus,
.nav-rounded > li > a.focus,
.btn:active:focus,
.nav-rounded > li > a:active:focus,
.btn:active.focus,
.nav-rounded > li > a:active.focus,
.btn.active:focus,
.nav-rounded > li > a.active:focus,
.btn.active.focus,
.nav-rounded > li > a.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.nav-rounded > li > a:hover,
.btn:focus,
.nav-rounded > li > a:focus,
.btn.focus,
.nav-rounded > li > a.focus {
  color: #ffffff;
  text-decoration: none;
}

.btn:active,
.nav-rounded > li > a:active,
.btn.active,
.nav-rounded > li > a.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.nav-rounded > li > a.disabled,
.btn[disabled],
.nav-rounded > li > a[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .nav-rounded > li > a {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.btn-default {
  color: #ffffff;
  background-color: #3f4654;
  border-color: #3f4654;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #ffffff;
  background-color: #292e37;
  border-color: #252931;
}

.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  background-image: none;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #3f4654;
  border-color: #3f4654;
}

.btn-default .badge {
  color: #3f4654;
  background-color: #ffffff;
}

.btn-primary,
.nav-pills > li.active > a,
.nav-tabs > li.active > a,
.nav-rounded > li.active > a,
.nav-pills > li.active > a:hover,
.nav-tabs > li.active > a:hover,
.nav-rounded > li.active > a:hover,
.nav-pills > li.active > a.active,
.nav-tabs > li.active > a.active,
.nav-rounded > li.active > a.active,
.pricing-section .value .btn,
.pricing-section .value .nav-rounded > li > a {
  color: #ffffff;
  background-color: #0093e6;
  border-color: #0093e6;
}

.btn-primary:hover,
.nav-pills > li.active > a:hover,
.nav-tabs > li.active > a:hover,
.nav-rounded > li.active > a:hover,
.pricing-section .value .btn:hover,
.pricing-section .value .nav-rounded > li > a:hover,
.btn-primary:focus,
.nav-pills > li.active > a:focus,
.nav-tabs > li.active > a:focus,
.nav-rounded > li.active > a:focus,
.pricing-section .value .btn:focus,
.pricing-section .value .nav-rounded > li > a:focus,
.btn-primary.focus,
.nav-pills > li.active > a.focus,
.nav-tabs > li.active > a.focus,
.nav-rounded > li.active > a.focus,
.pricing-section .value .focus.btn,
.pricing-section .value .nav-rounded > li > a.focus,
.btn-primary:active,
.nav-pills > li.active > a:active,
.nav-tabs > li.active > a:active,
.nav-rounded > li.active > a:active,
.pricing-section .value .btn:active,
.pricing-section .value .nav-rounded > li > a:active,
.btn-primary.active,
.nav-pills > li.active > a.active,
.nav-tabs > li.active > a.active,
.nav-rounded > li.active > a.active,
.pricing-section .value .active.btn,
.pricing-section .value .nav-rounded > li > a.active,
.open > .btn-primary.dropdown-toggle,
.nav-pills > li.active.open > a.dropdown-toggle,
.nav-tabs > li.active.open > a.dropdown-toggle,
.nav-rounded > li.active.open > a.dropdown-toggle,
.pricing-section .value .open > .dropdown-toggle.btn,
.pricing-section .value .nav-rounded > li.open > a.dropdown-toggle {
  color: #ffffff;
  background-color: #0072b3;
  border-color: #006ca9;
}

.btn-primary:active,
.nav-pills > li.active > a:active,
.nav-tabs > li.active > a:active,
.nav-rounded > li.active > a:active,
.pricing-section .value .btn:active,
.pricing-section .value .nav-rounded > li > a:active,
.btn-primary.active,
.nav-pills > li.active > a.active,
.nav-tabs > li.active > a.active,
.nav-rounded > li.active > a.active,
.pricing-section .value .active.btn,
.pricing-section .value .nav-rounded > li > a.active,
.open > .btn-primary.dropdown-toggle,
.nav-pills > li.active.open > a.dropdown-toggle,
.nav-tabs > li.active.open > a.dropdown-toggle,
.nav-rounded > li.active.open > a.dropdown-toggle,
.pricing-section .value .open > .dropdown-toggle.btn,
.pricing-section .value .nav-rounded > li.open > a.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled,
.nav-pills > li.active > a.disabled,
.nav-tabs > li.active > a.disabled,
.nav-rounded > li.active > a.disabled,
.pricing-section .value .disabled.btn,
.pricing-section .value .nav-rounded > li > a.disabled,
.btn-primary.disabled:hover,
.nav-pills > li.active > a.disabled:hover,
.nav-tabs > li.active > a.disabled:hover,
.nav-rounded > li.active > a.disabled:hover,
.pricing-section .value .disabled.btn:hover,
.pricing-section .value .nav-rounded > li > a.disabled:hover,
.btn-primary.disabled:focus,
.nav-pills > li.active > a.disabled:focus,
.nav-tabs > li.active > a.disabled:focus,
.nav-rounded > li.active > a.disabled:focus,
.pricing-section .value .disabled.btn:focus,
.pricing-section .value .nav-rounded > li > a.disabled:focus,
.btn-primary.disabled.focus,
.nav-pills > li.active > a.disabled.focus,
.nav-tabs > li.active > a.disabled.focus,
.nav-rounded > li.active > a.disabled.focus,
.pricing-section .value .disabled.focus.btn,
.pricing-section .value .nav-rounded > li > a.disabled.focus,
.btn-primary.disabled:active,
.nav-pills > li.active > a.disabled:active,
.nav-tabs > li.active > a.disabled:active,
.nav-rounded > li.active > a.disabled:active,
.pricing-section .value .disabled.btn:active,
.pricing-section .value .nav-rounded > li > a.disabled:active,
.btn-primary.disabled.active,
.nav-pills > li.active > a.disabled.active,
.nav-tabs > li.active > a.disabled.active,
.nav-rounded > li.active > a.disabled.active,
.pricing-section .value .disabled.active.btn,
.pricing-section .value .nav-rounded > li > a.disabled.active,
.btn-primary[disabled],
.nav-pills > li.active > a[disabled],
.nav-tabs > li.active > a[disabled],
.nav-rounded > li.active > a[disabled],
.pricing-section .value [disabled].btn,
.pricing-section .value .nav-rounded > li > a[disabled],
.btn-primary[disabled]:hover,
.nav-pills > li.active > a[disabled]:hover,
.nav-tabs > li.active > a[disabled]:hover,
.nav-rounded > li.active > a[disabled]:hover,
.pricing-section .value [disabled].btn:hover,
.pricing-section .value .nav-rounded > li > a[disabled]:hover,
.btn-primary[disabled]:focus,
.nav-pills > li.active > a[disabled]:focus,
.nav-tabs > li.active > a[disabled]:focus,
.nav-rounded > li.active > a[disabled]:focus,
.pricing-section .value [disabled].btn:focus,
.pricing-section .value .nav-rounded > li > a[disabled]:focus,
.btn-primary[disabled].focus,
.nav-pills > li.active > a[disabled].focus,
.nav-tabs > li.active > a[disabled].focus,
.nav-rounded > li.active > a[disabled].focus,
.pricing-section .value [disabled].focus.btn,
.pricing-section .value .nav-rounded > li > a[disabled].focus,
.btn-primary[disabled]:active,
.nav-pills > li.active > a[disabled]:active,
.nav-tabs > li.active > a[disabled]:active,
.nav-rounded > li.active > a[disabled]:active,
.pricing-section .value [disabled].btn:active,
.pricing-section .value .nav-rounded > li > a[disabled]:active,
.btn-primary[disabled].active,
.nav-pills > li.active > a[disabled].active,
.nav-tabs > li.active > a[disabled].active,
.nav-rounded > li.active > a[disabled].active,
.pricing-section .value [disabled].active.btn,
.pricing-section .value .nav-rounded > li > a[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .nav-pills > li.active > a,
fieldset[disabled] .nav-tabs > li.active > a,
fieldset[disabled] .nav-rounded > li.active > a,
fieldset[disabled] .pricing-section .value .btn,
.pricing-section .value fieldset[disabled] .btn,
fieldset[disabled] .pricing-section .value .nav-rounded > li > a,
.pricing-section .value fieldset[disabled] .nav-rounded > li > a,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .nav-pills > li.active > a:hover,
fieldset[disabled] .nav-tabs > li.active > a:hover,
fieldset[disabled] .nav-rounded > li.active > a:hover,
fieldset[disabled] .pricing-section .value .btn:hover,
.pricing-section .value fieldset[disabled] .btn:hover,
fieldset[disabled] .pricing-section .value .nav-rounded > li > a:hover,
.pricing-section .value fieldset[disabled] .nav-rounded > li > a:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .nav-pills > li.active > a:focus,
fieldset[disabled] .nav-tabs > li.active > a:focus,
fieldset[disabled] .nav-rounded > li.active > a:focus,
fieldset[disabled] .pricing-section .value .btn:focus,
.pricing-section .value fieldset[disabled] .btn:focus,
fieldset[disabled] .pricing-section .value .nav-rounded > li > a:focus,
.pricing-section .value fieldset[disabled] .nav-rounded > li > a:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .nav-pills > li.active > a.focus,
fieldset[disabled] .nav-tabs > li.active > a.focus,
fieldset[disabled] .nav-rounded > li.active > a.focus,
fieldset[disabled] .pricing-section .value .focus.btn,
.pricing-section .value fieldset[disabled] .focus.btn,
fieldset[disabled] .pricing-section .value .nav-rounded > li > a.focus,
.pricing-section .value fieldset[disabled] .nav-rounded > li > a.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .nav-pills > li.active > a:active,
fieldset[disabled] .nav-tabs > li.active > a:active,
fieldset[disabled] .nav-rounded > li.active > a:active,
fieldset[disabled] .pricing-section .value .btn:active,
.pricing-section .value fieldset[disabled] .btn:active,
fieldset[disabled] .pricing-section .value .nav-rounded > li > a:active,
.pricing-section .value fieldset[disabled] .nav-rounded > li > a:active,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .nav-pills > li.active > a.active,
fieldset[disabled] .nav-tabs > li.active > a.active,
fieldset[disabled] .nav-rounded > li.active > a.active,
fieldset[disabled] .pricing-section .value .active.btn,
.pricing-section .value fieldset[disabled] .active.btn,
fieldset[disabled] .pricing-section .value .nav-rounded > li > a.active,
.pricing-section .value fieldset[disabled] .nav-rounded > li > a.active {
  background-color: #0093e6;
  border-color: #0093e6;
}

.btn-primary .badge,
.nav-pills > li.active > a .badge,
.nav-tabs > li.active > a .badge,
.nav-rounded > li.active > a .badge,
.pricing-section .value .btn .badge,
.pricing-section .value .nav-rounded > li > a .badge {
  color: #0093e6;
  background-color: #ffffff;
}

.btn-success {
  color: #ffffff;
  background-color: #4bc2b8;
  border-color: #4bc2b8;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
  color: #ffffff;
  background-color: #37a39a;
  border-color: #359b93;
}

.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
  background-image: none;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #4bc2b8;
  border-color: #4bc2b8;
}

.btn-success .badge {
  color: #4bc2b8;
  background-color: #ffffff;
}

.btn-info {
  color: #ffffff;
  background-color: #2caad0;
  border-color: #2caad0;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #ffffff;
  background-color: #2388a6;
  border-color: #21819d;
}

.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
  background-image: none;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #2caad0;
  border-color: #2caad0;
}

.btn-info .badge {
  color: #2caad0;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #ffc11f;
  border-color: #ffc11f;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  color: #ffffff;
  background-color: #ebaa00;
  border-color: #e1a300;
}

.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #ffc11f;
  border-color: #ffc11f;
}

.btn-warning .badge {
  color: #ffc11f;
  background-color: #ffffff;
}

.btn-danger,
.btn-breadcrumbs .btn-active {
  color: #ffffff;
  background-color: #e75f45;
  border-color: #e75f45;
}

.btn-danger:hover,
.btn-breadcrumbs .btn-active:hover,
.btn-danger:focus,
.btn-breadcrumbs .btn-active:focus,
.btn-danger.focus,
.btn-breadcrumbs .focus.btn-active,
.btn-danger:active,
.btn-breadcrumbs .btn-active:active,
.btn-danger.active,
.btn-breadcrumbs .active.btn-active,
.open > .btn-danger.dropdown-toggle,
.btn-breadcrumbs .open > .dropdown-toggle.btn-active {
  color: #ffffff;
  background-color: #dd3b1c;
  border-color: #d4391b;
}

.btn-danger:active,
.btn-breadcrumbs .btn-active:active,
.btn-danger.active,
.btn-breadcrumbs .active.btn-active,
.open > .btn-danger.dropdown-toggle,
.btn-breadcrumbs .open > .dropdown-toggle.btn-active {
  background-image: none;
}

.btn-danger.disabled,
.btn-breadcrumbs .disabled.btn-active,
.btn-danger.disabled:hover,
.btn-breadcrumbs .disabled.btn-active:hover,
.btn-danger.disabled:focus,
.btn-breadcrumbs .disabled.btn-active:focus,
.btn-danger.disabled.focus,
.btn-breadcrumbs .disabled.focus.btn-active,
.btn-danger.disabled:active,
.btn-breadcrumbs .disabled.btn-active:active,
.btn-danger.disabled.active,
.btn-breadcrumbs .disabled.active.btn-active,
.btn-danger[disabled],
.btn-breadcrumbs [disabled].btn-active,
.btn-danger[disabled]:hover,
.btn-breadcrumbs [disabled].btn-active:hover,
.btn-danger[disabled]:focus,
.btn-breadcrumbs [disabled].btn-active:focus,
.btn-danger[disabled].focus,
.btn-breadcrumbs [disabled].focus.btn-active,
.btn-danger[disabled]:active,
.btn-breadcrumbs [disabled].btn-active:active,
.btn-danger[disabled].active,
.btn-breadcrumbs [disabled].active.btn-active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-breadcrumbs .btn-active,
.btn-breadcrumbs fieldset[disabled] .btn-active,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-breadcrumbs .btn-active:hover,
.btn-breadcrumbs fieldset[disabled] .btn-active:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-breadcrumbs .btn-active:focus,
.btn-breadcrumbs fieldset[disabled] .btn-active:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-breadcrumbs .focus.btn-active,
.btn-breadcrumbs fieldset[disabled] .focus.btn-active,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-breadcrumbs .btn-active:active,
.btn-breadcrumbs fieldset[disabled] .btn-active:active,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-breadcrumbs .active.btn-active,
.btn-breadcrumbs fieldset[disabled] .active.btn-active {
  background-color: #e75f45;
  border-color: #e75f45;
}

.btn-danger .badge,
.btn-breadcrumbs .btn-active .badge {
  color: #e75f45;
  background-color: #ffffff;
}

.btn-link {
  color: #0093e6;
  font-weight: normal;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #00629a;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
  color: #e0e2e7;
  text-decoration: none;
}

.btn-pill {
  border-radius: 100px;
}
