@import "~bootstrap/dist/css/bootstrap.css";
@import "./icons.scss";
@import "./margins.scss";
@import "./buttons.scss";
@import "./swal.scss";
@import "./checkbox.scss";
@import "./flex-helpers.scss";

legend {
  border-bottom-color: #CED7E4;
  height: 8px;
}
legend small {
  background-color:white;
  padding: 0 5px;
  font-size: 13px;
}
.input-group-addon{
  padding:0;
}
.input-group-addon .btn{
  height: 40px;
  padding-top:12px;
}
