.main-container {
  height: 100vh;
}
.header {
  min-height: 55px;
}

.flex-grow {
  flex-grow: 1;
}

.align-center {
  align-items: center;
}

.vm-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
